# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnpm-store

# Build artifacts
.next/
/out/
/build

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Environment variables
.env
.env*.local
.env.*.local

# Firebase
.firebase/
firebase-debug.log
database-debug.log
firestore-debug.log
storage-debug.log

# IDE config
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
